@charset "utf-8";
/* CSS Document */
.resumeBody {
    margin:20px;
    font-size:12px;
    font-family:"Microsoft Yahei",simsun;
    color:#555;
}
.resumeBody strong, .resumeBody h1, .resumeBody h5, .resumeBody h6 {
    color:#555;
}
.resumeBody h1 {
    font-size:32px;
    height:42px;
    line-height:1em;
}
.resumeBody .headerImg {
    padding:5px;
    border:1px solid #ddd;
}
.resumeBody .ver-line {
    color:#555;
    font-size:14px;
    padding:0 5px;
}
.resumeBody h5,.resumeBody h6, .resumeBody strong {
    font-weight:bold;
}
.resumeBody .details dt {
    background:url('http://img03.zhaopin.cn/2012/img/my/v5/lookResumebg.jpg') no-repeat 5px 0;
}
.resumeBody .details dt h5 {
    height:26px;
    line-height:26px;
    color:#315AAA;
    text-indent:20px;
    font-size:14px;
}
.resumeBody .summary, .resumeBody .details dd {
    padding-left:10px;
    margin:10px;
    line-height:1.8em;
}
.resumeBody .certificates, .resumeBody .training, .resumeBody .graduates, .resumeBody .social, .resumeBody .education-background, .resumeBody .project-experience, .resumeBody .work-experience {
    border-bottom:1px dotted #ccc;
    margin-bottom:10px;
    padding-bottom:5px;
}
.resumeBody .certificates:last-child, .resumeBody .training:last-child, .resumeBody .graduates:last-child, .resumeBody .education-background:last-child, .resumeBody .project-experience:last-child, .resumeBody .work-experience:last-child {
    border-bottom:0;
}
.resumeBody .training h6 {
    margin-bottom:10px;
}
.resumeBody .em {
    font-style:em;
}
